
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" (click)="encender()" [color]="colorBoton1I(Button1I)">  
          On
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" (click)="apagar()" [color]="colorBoton1D(Button1D)">
          Off
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" (click)="encender2()" [color]="colorBoton2I(Button2I)">
          On
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" (click)="apagar2()" [color]="colorBoton2D(Button2D)">
          Off
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="full" (click)="encender3()" [color]="colorBoton3I(Button3I)">
          On
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" (click)="apagar3()" [color]="colorBoton3D(Button3D)">
          Off
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" (click)="encenderAll()" [color]="colorBotonAllI(ButtonAllI)">
          Encender Todos
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" (click)="apagarAll()" [color]="colorBotonAllD(ButtonAllD)">
          Apagar Todos
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>